<div *ngIf="(user$ | async) as user; else loading">
  <p
    class="
      mb-5
    "
  >
    Hi {{user.firstName}}! What would you like to do?
  </p>

  <ul
    class="
      inline-flex
      flex-col
      border
    "
  >
    <li
      class="
        flex
        border-b
      "
    >
      <a
        [routerLink]="['/']"
        class="
          block
          py-2
          px-3
          w-full
          hover:bg-slate-100
        "
      >
        View your Posts
      </a>
    </li>
    <li
      class="
        flex
        border-b
      "
    >
      <a
        [routerLink]="['/']"
        class="
          block
          py-2
          px-3
          w-full
          hover:bg-slate-100
        "
      >
        View all Posts
      </a>
    </li>
    <li
      class="
        flex
        border-b
      "
    >
      <a
        [routerLink]="['/']"
        class="
          block
          py-2
          px-3
          w-full
          hover:bg-slate-100
        "
      >
        Create a new Post
      </a>
    </li>
    <li
      class="
        flex
        border-b
      "
    >
      <a
        [routerLink]="['/']"
        class="
          block
          py-2
          px-3
          w-full
          hover:bg-slate-100
        "
      >
        Update your Profile
      </a>
    </li>
    <li
      class="
        flex
      "
    >
      <button
        type="button"
        class="
          py-2
          px-3
          w-full
          text-left
          hover:bg-slate-100
        "
      >
        Logout
      </button>
    </li>
  </ul>
</div>

<ng-template #loading>
  <div>
    loading...
  </div>
</ng-template>
