<form
  #searchForm="ngForm"
  (ngSubmit)="onSubmit()"
>
  <div class="mb-5">
    <label
      for="searchText"
      class="
        font-bold
        block
      "
    >
      Search Post Text
    </label>
    <input
      class="
        w-full
        max-w-[200px]
      "
      type="search"
      name="searchText"
      id="searchText"
      [(ngModel)]="blogSearchModel.searchText"
    />
  </div>

  <button
    type="submit"
    class="
      inline-block
      p-2
      rounded
      bg-blue-800
      text-white
      text-center
      hover:bg-blue-700
      active:bg-blue-900
      shadow-md
      active:shadow-none
    "
  >
    Submit
  </button>
</form>
